  <!-- Use this to add global CSS/JS utitlties. -->
<script>
  // Quick-set theme to prevent flashing
  const theme = localStorage.getItem('jtd-theme') || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
  document.documentElement.setAttribute('data-theme', theme);
</script>

  <!-- Roboto is used for the course name in the top left, following cs61a.org. -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap" rel="stylesheet">

  <!-- Loading the v6 core styles and the Solid and Brands styles -->
  <link href="{{ 'assets/vendor/fontawesome/css/fontawesome.css' | relative_url }}" rel="stylesheet" />
  <link href="{{ 'assets/vendor/fontawesome/css/solid.css' | relative_url }}" rel="stylesheet" />
  <!-- <link href="{{ 'assets/vendor/fontawesome/css/brands.css' | relative_url }}" rel="stylesheet" /> -->
